*{margin:0px; 
padding:0px; 
font-family: 'Times New Roman';}

#hh h1{background-color: rgb(161, 108, 43); text-align: center; text-transform:capitalize;}

#outer{font-size: 25PX;}
#inner{font-size: 10px;}
